langchain=0.2.1
langchain-community=0.2.3
langchain-anthropic=0.1.15
langchain-community=0.2.4
langchain-core=0.2.3
langchain-openai=0.1.8
langchain-text-splitters==0.2.0
langgraph==0.0.64
langsmith==0.1.67
matplotlib==3.9.0
numpy==1.26.4
pandas==2.2.2
seaborn==0.13.2
scikit-learn=1.5.0